html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: FrutigerNeueW01-Regular;
  src: url(../font/aa94077e-cdcd-4e33-abe0-ddcfe27e3485.woff) format("woff"); }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 600px;
  cursor: pointer;
  display: none;
  background: #51626f;
  font-family: FrutigerNeueW01-Regular; }
  #mainContent img,
  #mainContent div {
    position: absolute; }

.hide {
  opacity: 0; }

#bgHadler {
  top: -30px;
  left: -15px;
  width: 330px;
  height: 660px;
  background: url("../img/mainImage.jpg") 0 0 no-repeat; }

.stripeMask {
  left: 58px;
  top: 163px;
  width: 230px;
  height: 0;
  overflow: hidden; }

.stripe {
  left: 0;
  top: 0;
  background: url("../img/stripe.jpg") 0 0 no-repeat;
  width: 230px;
  height: 290px;
  background-size: 230px 290px;
  opacity: .3; }

#stairsBg {
  top: 163px;
  left: 58px;
  width: 230px;
  height: 290px; }

#vingette {
  top: 0;
  left: 0; }

.vertBar {
  top: 0;
  height: 600px; }

#vertBar_1 {
  left: 2px;
  width: 1px;
  background-color: #59b337; }

#vertBar_2 {
  left: 4px;
  width: 1px;
  background-color: #004fb6; }

#vertBar_3 {
  left: 6px;
  width: 3px;
  background-color: #ffd900; }

#vertBar_4 {
  left: 12px;
  width: 1px;
  background-color: #59b337; }

#vertBar_5 {
  left: 14px;
  width: 1px;
  background-color: #004fb6; }

#vertBar_6 {
  left: 16px;
  width: 1px;
  background-color: #ffd900; }

#logo {
  top: 490px;
  right: 0; }

#txt_fortodays {
  left: 64px;
  top: 516px;
  right: 134px;
  width: 150px;
  font-size: 12px;
  color: #FFF; }

#header {
  top: 36px;
  left: 38px;
  -webkit-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  transform: translateX(-300px); }

#OutLineOne {
  top: 127px;
  left: 60px;
  height: 1px;
  width: 188px;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  background: #FFF;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0); }

#heroLineHandler {
  top: 85px;
  left: 40px;
  width: 230px;
  height: 105px;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9); }

#heroCopyTop {
  top: 0px;
  left: 0;
  width: 230px;
  height: 42px;
  overflow: hidden; }
  #heroCopyTop img {
    -webkit-transform: translateY(42px);
    -ms-transform: translateY(42px);
    transform: translateY(42px); }

#heroCopyBottom {
  top: 42px;
  left: 0px;
  width: 230px;
  height: 63px;
  overflow: hidden; }
  #heroCopyBottom img {
    -webkit-transform: translateY(-105px);
    -ms-transform: translateY(-105px);
    transform: translateY(-105px); }

#OutLineTwo {
  top: 190px;
  left: 46px;
  height: 1px;
  width: 224px;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  background: #FFF;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0); }

#copyTwoHandler {
  top: 73px;
  left: 38px;
  width: 241px;
  height: 256px; }

#copyTwoTop {
  top: 0px;
  left: 0;
  width: 241px;
  height: 118px;
  overflow: hidden; }
  #copyTwoTop img {
    -webkit-transform: translateY(118px);
    -ms-transform: translateY(118px);
    transform: translateY(118px); }

#copyTwoBottom {
  top: 118px;
  left: 0px;
  width: 241px;
  height: 138px;
  overflow: hidden; }
  #copyTwoBottom img {
    -webkit-transform: translateY(-256px);
    -ms-transform: translateY(-256px);
    transform: translateY(-256px); }

#disc {
  height: 32px;
  width: 300px;
  font-size: 10px;
  line-height: 11px;
  padding: 4px 0 0 4px;
  bottom: 0;
  background: #fff;
  cursor: pointer;
  border: 1px solid black; }

#discInner {
  left: 5px;
  bottom: 5px;
  width: 280px;
  height: auto;
  font-size: 10px;
  line-height: 11px;
  color: #000;
  display: block;
  text-align: left; }

#closeLegalsBut,
#legalsPanelInner {
  font-size: 12px;
  color: #000;
  display: block;
  text-align: left; }

#legalsPanel {
  width: 300px;
  cursor: pointer;
  background: #fff;
  height: 600px;
  top: 0px;
  left: 0;
  -webkit-transform: translateY(600px);
  -ms-transform: translateY(600px);
  transform: translateY(600px);
  border: 1px solid black; }

#legalsPanelInner {
  left: 15px;
  top: 15px;
  width: 260px;
  height: auto;
  line-height: 16px;
  padding: 0 0 50px; }

#closeLegalsBut {
  left: 245px;
  top: 580px;
  width: 50px;
  height: 20px;
  line-height: 13px; }

#cta,
#ctaText {
  height: 45px;
  position: absolute; }

#cta {
  left: 53px;
  top: 352px;
  width: 208px;
  border-radius: 8px;
  background-color: #ffd900; }

#ctaText {
  left: 0;
  top: 7px;
  width: 100%;
  font-size: 16px;
  line-height: 33px;
  display: block;
  letter-spacing: -.5px;
  text-align: center;
  color: #51626f; }

#bgExit {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 600px;
  border: 1px solid black;
  cursor: pointer; }
